.boxes-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  width: 80%;
}

#editor {
    width: 75%;
    height: 40vh;
    margin: auto;
    font-size: 18px;
    background-color: black;
    resize: none;
    color: white;
    padding: 10px;
    overflow: auto;
    border-radius: 20px;
}

#preview {
  width: 75%;
  height: 40vh;
  margin: auto;
  font-size: 18px;
  background-color: black;
  resize: none;
  color: white;
  padding: 10px;
  overflow: auto;
  border-radius: 20px;
}

img {
  max-width: 50%;
}

body {
  background: linear-gradient(to right, #6c5ce7, #b043f0);
}

h1, h2 {
  color: #fff;
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
}