.boxes-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  width: 80%;
}

#editor {
    width: 75%;
    height: 40vh;
    font-size: 18px;
    background-color: black;
    resize: none;
    color: white;
    padding: 10px;
    overflow: auto;
    border-radius: 20px;
}

#preview {
  width: 75%;
  height: 40vh;
  font-size: 18px;
  background-color: black;
  resize: none;
  color: white;
  padding: 10px;
  overflow: auto;
  border-radius: 20px;
}

img {
  max-width: 50%;
}
